a {
  text-decoration: none;
  color: black;
}

:root {
  --desktop-max-width: 1110px;
  --tablet-max-width: 1110px;
  --tablet-margin-section: 33px 0px 33px 0px;
  --company-name-color: #598D66;
  --text-color: #86928B;
}

body {
  width: 100%;
  min-height: 100vh;
}

/*#region menu*/
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //background-color: #00BAF0;
  //background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //color: #FFF;
  height: 100px;
  //padding: 1em;
  max-width: var(--desktop-max-width);
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
/*#endregion menu*/

/*#region*/
@media (max-width: 320px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    //color: white;
    background-color: #E1EDE6;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

@media (max-width:510px) {
  .top-nav {
    flex-direction: column;
    margin-right: 33px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .logo {
    border-bottom: 1px solid #C3D1C6;
    width: 100%;
    vertical-align: center;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  header {
    //margin: 20px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width:450px) {
  
}
/*#endregion*/


/*#region header*/
header {
  background-color: #E1EDE6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
/*#endregion header*/

/*#region sections*/

/*replica*/
.replica {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: var(--desktop-max-width);
}

.replica figure {
  width: 40%;
}
.replica div {
  width: 60%;
}

.replica h1 {
  font-size: 30px;
}

.replica h1 div {
  color: var(--company-name-color);
}

.replica p {
  color: var(--text-color);
  font-size: 18px;
  margin-top: 40px;
}

.replica img {
  display: block;
  max-width: 100%;
  height: auto;
}

.primary_btn {
  border: 1px solid;
  padding: 20px 60px 20px 60px;
  border-color: #598D66;
  background-color: white;
  margin-top: 40px;
  color: #598D66;
}

@media (max-width:510px) {

}


/*reproductions*/
.reproductions {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--desktop-max-width);
}

.reproductions h2 {
  font-size: 40px;
}

.reproductions button {
  background-color: #D4E8D9;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  border: 0px;
}

.carts {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width:510px) {
  .reproductions {
    margin: var(--tablet-margin-section);
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;

  }
}

/*advertising*/
.advertising {
  background-image: url(../assets/pic_background_section.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 574px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertising__container { 
  max-width: var(--desktop-max-width);
  color: white;
  display: flex;
  flex-direction: column;
}

.advertising__container__header {
  display: flex;
  align-items: center;
  width: 65%;
  margin-bottom: 20px;
}

.advertising__container__header img {
  padding-right: 20px;
}

.advertising__container__header h3 {
  font-size: 40px;
}

.advertising__container__content {
  width: 65%;
}

.advertising__container__content p{
  margin-bottom: 20px;
  font-size: 18px;
}

.advertising__container__content button{
  margin-bottom: 60px;
  font-size: 18px;
  padding: 20px 60px 20px 60px;
  background: #EEDB6D;
}


/*our_team*/
.our_team {
  margin: 0 auto;
  max-width: var(--desktop-max-width);
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: center;
  //height: 200px;
  //width: 100%;
}

.Group_IMG {
  display: block;
  max-width: 100%;
  height: auto;
}

.our_team__desc {
  margin-left: 20px;
  margin-top: 45px;
  min-width: 301px;
}

.our_team__desc img {
  margin-left: 15px;
}

.our_team div h5 {
  font-size: 40px;
  margin-bottom: 20px;
}

.our_team div p {
  font-size: 18px;
  margin-bottom: 20px;
}

.our-team_1__col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.our-team_1__col_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var();
  background: #E1EDE6;
}

.footer__container {
  max-width: var(--desktop-max-width);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__container__col-1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 25%;
}

.footer__container__col-2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: left;
}

.footer__container__col-2 div {
  margin-right: 20px;
}

.footer__container__col-3 {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 25%;
}
.footer__container__col-3 div {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
}

.footer__container__col-3 div svg{
  margin-right: 20px;
  margin-bottom: 6px;
}

.footer__container li {
  font-size: 18px;
  color: #86928B;
  margin-bottom: 6px;
}

.footer__container p {
  font-size: 20px;
  margin-bottom: 6px;
}