a {
  text-decoration: none;
  color: black;
}

:root {
  --desktop-max-width: 768px;
  --company-name-color: #598D66;
  --text-color: #86928B;
}

body {
  width: 100%;
  min-height: 100vh;
}

/*#region header*/
header{
  background: #E1EDE6;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header div {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  max-width: var(--desktop-max-width);
}

header nav  {
  display: flex;
  gap: 60px;
}
/*#endregion header*/

/*#region sections*/

/*replica*/
.replica {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: var(--desktop-max-width);
}

.replica h1 {
  font-size: 30px;
}

.replica h1 div {
  color: var(--company-name-color);
}

.replica p {
  color: var(--text-color);
  font-size: 18px;
  margin-top: 40px;
}

.replica img {
  display: block;
  max-width: 100%;
  height: auto;
}

.primary_btn {
  border: 1px solid;
  padding: 20px 60px 20px 60px;
  border-color: #598D66;
  background-color: white;
  margin-top: 40px;
  color: #598D66;
}

/*reproductions*/
.reproductions {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--desktop-max-width);
}

.reproductions h2 {
  font-size: 40px;
}

.reproductions button {
  background-color: #D4E8D9;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  border: 0px;
}

.carts {
  font-size: 30px;
}

/*advertising*/
.advertising {
  background-image: url(../assets/pic_background_section.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 574px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertising__container { 
  max-width: var(--desktop-max-width);
  color: white;
  display: flex;
  flex-direction: column;
}

.advertising__container__header {
  display: flex;
  align-items: center;
  width: 65%;
  margin-bottom: 20px;
}

.advertising__container__header img {
  padding-right: 20px;
}

.advertising__container__header h3 {
  font-size: 40px;
}

.advertising__container__content {
  width: 65%;
}

.advertising__container__content p{
  margin-bottom: 20px;
  font-size: 18px;
}

.advertising__container__content button{
  margin-bottom: 60px;
  font-size: 18px;
  padding: 20px 60px 20px 60px;
  background: #EEDB6D;
}


/*our_team*/
.our_team {
  margin: 0 auto;
  max-width: var(--desktop-max-width);
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: center;
  //height: 200px;
  //width: 100%;
}

.Group_IMG {
  display: block;
  max-width: 100%;
  height: auto;
}

.our_team__desc {
  margin-left: 20px;
  margin-top: 45px;
  min-width: 301px;
}

.our_team__desc img {
  margin-left: 15px;
}

.our_team div h5 {
  font-size: 40px;
  margin-bottom: 20px;
}

.our_team div p {
  font-size: 18px;
  margin-bottom: 20px;
}

.our-team_1__col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.our-team_1__col_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.cart__container {

}

.cart__container__artist {

}

.cart__container__painting_title {

}

.cart__container__painting_description {

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var();
  background: #E1EDE6;
}

.footer__container {
  max-width: var(--desktop-max-width);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.footer__container__col-1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 25%;
}

.footer__container__col-2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: left;
}

.footer__container__col-2 div {
  margin-right: 20px;
}

.footer__container__col-3 {
  width: 25%;
}